@using WebUI.Models.Helpers;

<script src="~/Scripts/Views/CrudProduct.js"></script>
<script src="~/Scripts/Views/maps.js"></script>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

@{
    ViewBag.Title = "updateManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.RenderPartial("_MenuAdmin");
}
<label id="whoAmI" class="d-none">list</label>

<!-- Breadcrumb Area -->
<div class="breadcrumb-area bg-grey">
    <div class="container">
        <div class="ho-breadcrumb">
            <ul>
                <li>@Html.ActionLink("Inicio", "index")</li>
                <li>Listado de productos</li>
            </ul>
        </div>
    </div>
</div>
<!--// Breadcrumb Area -->

<div id="wrapper" class="container wrapper">
    <div class="row">
        <div class="col-12 my-account-area ptb-30">
            @Html.CtrlTable(viewName: "Crud", id: "tblProducts", title: "Productos",
                columnsTitle: "ID,ID Tienda,Nombre,Descripción,Impuesto %,Precio de venta,ID Proveedor,IsActive", ColumnsDataName: "ProductId,StoreId,Name,Description,TaxPercentage,SellingPrice,ProductProviderId,IsActive", onSelectFunction: "BindFields")
        </div>
    </div>
</div>

<!-- Update modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="Update" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Detalle de producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div id="wrapper" class="container wrapper">
                <div class="row">
                    <div class="col-12 my-account-area ptb-30">
                        <h2></h2>
                        <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                            <div class="">
                                <form action="#" class="ho-form" id="frmProductMedia">
                                    <div class="ho-form-inner">

                                        <div id="divImgProduct1" class="col-md-2 col-sm-12 uploadedImage">
                                            <img id="btnDeleteMedia1" class="d-none btnDeleteMedia float-right" src="https://res.cloudinary.com/oikos-store/image/upload/v1542786829/delete-button.svg" alt="eliminar">
                                            <img id="imgProductMedia1" src="" alt="Imagen producto 1">
                                        </div>
                                        <div id="divImgProduct2" class="col-md-2 col-sm-12 uploadedImage">
                                            <img id="btnDeleteMedia2" class="d-none btnDeleteMedia float-right" src="https://res.cloudinary.com/oikos-store/image/upload/v1542786829/delete-button.svg" alt="eliminar">
                                            <img id="imgProductMedia2" src="" alt="Imagen producto 2">
                                        </div>
                                        <div id="divImgProduct3" class="col-md-2 col-sm-12 uploadedImage">
                                            <img id="btnDeleteMedia3" class="d-none btnDeleteMedia float-right" src="https://res.cloudinary.com/oikos-store/image/upload/v1542786829/delete-button.svg" alt="eliminar">
                                            <img id="imgProductMedia3" src="" alt="Imagen producto 3">
                                        </div>
                                        <div id="divImgProduct4" class="col-md-2 col-sm-12 uploadedImage">
                                            <img id="btnDeleteMedia4" class="d-none tnDeleteMedia float-right" src="https://res.cloudinary.com/oikos-store/image/upload/v1542786829/delete-button.svg" alt="eliminar">
                                            <img id="imgProductMedia4" src="" alt="Imagen producto 4">
                                        </div>
                                        <div id="divImgProduct5" class="col-md-2 col-sm-12 uploadedImage">
                                            <img id="btnDeleteMedia5" class="d-none btnDeleteMedia float-right" src="https://res.cloudinary.com/oikos-store/image/upload/v1542786829/delete-button.svg" alt="eliminar">
                                            <img id="imgProductMedia5" src="" alt="Imagen producto 5">
                                        </div>
                                        <div id="divBtnCloudinary" class="col-md-10 col-sm-12 mb-3 d-none">
                                            <button id="btnCloudinary" type="button" class="mt-3 ho-button ho-button-dark" onclick="showUploadWidget()">
                                                <span class="d-none" id="txtBtnCloudinary">
                                                    Agregar imagen
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    @* Hidden *@
                                    @Html.CtrlInput(divSize: "d-none", id: "txtProductMediaUrl1", type: "type=\"text\" disabled", format: "", label: "ProductMediaId", placeHolder: "", columnDataName: "ProductMediaId")
                                    @Html.CtrlInput(divSize: "d-none", id: "txtProductMediaUrl1", type: "type=\"text\" disabled", format: "", label: "ProductMediaId", placeHolder: "", columnDataName: "ProductMediaId")
                                    @Html.CtrlInput(divSize: "d-none", id: "txtProductMediaUrl1", type: "type=\"text\" disabled", format: "", label: "ProductMediaId", placeHolder: "", columnDataName: "ProductMediaId")
                                    @Html.CtrlInput(divSize: "d-none", id: "txtProductMediaUrl1", type: "type=\"text\" disabled", format: "", label: "ProductMediaId", placeHolder: "", columnDataName: "ProductMediaId")


                                </form>
                                <div>
                                    <form action="#" class="ho-form" id="frmProduct">
                                        <div class="ho-form-inner">
                                            @Html.CtrlInput(divSize: "single-input single-input-half", id: "txtName", type: "type=\"text\" disabled", format: "", label: "Nombre:", placeHolder: "", columnDataName: "Name")

                                            @Html.CtrlInput(divSize: "single-input single-input-half", id: "txtProductProviderName", type: "type=\"text\" disabled", format: "", label: "Proveedor:", placeHolder: "", columnDataName: "")

                                            @Html.CtrlTextArea(divSize: "single-input", id: "txtDescription", type: "type=\"text\" disabled", format: "", label: "Descripción", placeHolder: "", columnDataName: "Description")

                                            @* Currency *@
                                            @Html.CtrlInput(divSize: "single-input single-input-half", id: "txtCurrency", type: "type=\"text\" disabled", format: "", label: "Moneda", placeHolder: "", columnDataName: "")

                                            @* Selling price *@
                                            @Html.CtrlInput(divSize: "single-input single-input-half", id: "txtSellingPrice", type: "type=\"text\" disabled", format: "", label: "Precio de venta", placeHolder: "", columnDataName: "SellingPrice")

                                            @* Tax *@
                                            @Html.CtrlInput(divSize: "single-input single-input-half", id: "txtTaxPercentage", type: "type=\"text\" disabled", format: "", label: "Impuesto", placeHolder: "", columnDataName: "TaxPercentage")

                                            @* Hidden *@
                                            @Html.CtrlInput(divSize: "d-none", id: "txtProductId", type: "type=\"number\" disabled", format: "", label: "ID del producto", placeHolder: "", columnDataName: "ProductId")
                                            @Html.CtrlInput(divSize: "d-none", id: "txtStoreId", type: "type=\"number\" disabled", format: "", label: "ID de la tienda", placeHolder: "", columnDataName: "StoreId")
                                            @Html.CtrlInput(divSize: "d-none", id: "txtIsActive", type: "type=\"text\" disabled", format: "", label: "Status del producto", placeHolder: "", columnDataName: "IsActive")

                                            @Html.CtrlInput(divSize: "d-none", id: "drpProvider", type: "type=\"text\" disabled", format: "", label: "Id Proveedor:", placeHolder: "", columnDataName: "ProductProviderId")
                                            <div class="col-12">
                                                <div class="d-flex align-self-center">
                                                    <div class="">
                                                        <div class="single-input">
                                                            <button type="button" id="btnCancel" class="ho-button ho-button-dark" style="margin-left: 5px; margin-right: 5px;" data-dismiss="modal">
                                                                <span>
                                                                    Atrás
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="">
                                                        <div class="single-input">
                                                            <div class="d-inline-block">
                                                                <button type="button" class="ho-button" data-toggle="modal" data-target="#categoriesModal">
                                                                    <span>
                                                                        Ver categorías
                                                                    </span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="alertMessage" class="alertMessage d-none">
                                                    <p class="">Por favor verificá los campos en rojo.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Views/cloudinaryProduct.js"></script>