@using WebUI.Models.Helpers;

<script src="~/Scripts/Views/CrudStore.js"></script>
<script src="~/Scripts/Views/maps.js"></script>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

@{
    ViewBag.Title = "Create Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.RenderPartial("_MenuStore");
}

<label id="whoAmI" class="d-none">create</label>

<!-- Breadcrumb Area -->
<div class="breadcrumb-area bg-grey">
    <div class="container">
        <div class="ho-breadcrumb">
            <ul>
                <li>@Html.ActionLink("Inicio", "index")</li>
                <li>Registrar nueva tienda</li>
            </ul>
        </div>
    </div>
</div>
<!--// Breadcrumb Area -->

<div id="wrapper" class="container wrapper">
    <div class="row">
        <div class="col-12 my-account-area ptb-30">
            <h2>Crear nueva tienda</h2>
            <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                <div class="">
                    <form action="#" class="ho-form" id="frmStore">
                        <div class="ho-form-inner">

                            <div id="divImgLogo1" class="col-md-2 col-sm-12 uploadedImage">
                                <img id="imgStoreLogo" src="" alt="Imagen producto 1">
                            </div>

                            <div class="col-md-10 col-sm-12">
                                <button id="btnCloudinary" type="button" class="mt-3 ho-button ho-button-dark" onclick="showUploadWidget(false)">
                                    <span>
                                        Subir logotipo
                                    </span>
                                </button>
                            </div>

                            @Html.CtrlInput(divSize: "single-input single-input-half", id: "txtIdentification", type: "type=\"text\"", format: "", label: "Cédula jurídica", placeHolder: "", columnDataName: "Identification")

                            @Html.CtrlInput(divSize: "single-input single-input-half", id: "txtName", type: "type=\"text\"", format: "", label: "Nombre de la tienda", placeHolder: "", columnDataName: "Name")

                            @Html.CtrlTextArea(divSize: "single-input", id: "txtDescription", type: "type=\"text\"", format: "", label: "Descripción", placeHolder: "", columnDataName: "Description")

                            @* Currency *@
                            @Html.CtrlDropDown2(id: "drpCurrencyCode", label: "Moneda de la tienda*", listId: "currency", style: "single-input single-input-half", columnDataName: "CurrencyCode")

                            @* Map coordinates *@
                            @Html.CtrlInput(divSize: "single-input single-input-half single-input-quarter", id: "txtWarehouseCoordinates", type: "type=\"text\" disabled", format: "", label: "Coordenadas de la bodega", placeHolder: "", columnDataName: "")

                            @* Hidden *@
                            @Html.CtrlInput(divSize: "d-none", id: "txtLogo", type: "type=\"text\" disabled", format: "", label: "Logo", placeHolder: "", columnDataName: "Logo")
                            @Html.CtrlInput(divSize: "d-none", id: "txtStoreId", type: "type=\"number\"", format: "", label: "ID de la tienda", placeHolder: "", columnDataName: "StoreId")
                            @Html.CtrlInput(divSize: "d-none", id: "txtOwnerId", type: "type=\"number\"", format: "", label: "Owner ID", placeHolder: "", columnDataName: "Owner")
                            @Html.CtrlInput(divSize: "d-none", id: "txtStoreStatusCode", type: "type=\"text\"", format: "", label: "Status de tienda", placeHolder: "", columnDataName: "StoreStatusCode")
                            @Html.CtrlInput(divSize: "d-none", id: "txtCommission", type: "type=\"text\"", format: "", label: "Porcentaje de comisión", placeHolder: "", columnDataName: "Commission")
                            @Html.CtrlInput(divSize: "d-none", id: "txtWarehouseLatitude", type: "type=\"number\"", format: "", label: "WarehouseLatitude", placeHolder: "", columnDataName: "WarehouseLatitude")
                            @Html.CtrlInput(divSize: "d-none", id: "txtWarehouseLongitude", type: "type=\"number\"", format: "", label: "Warehouse Longitude", placeHolder: "", columnDataName: "WarehouseLongitude")

                            @Html.CtrlInput(divSize: "d-none", id: "txtCreationDate", type: "type=\"datetime\"", format: "", label: "Fecha de creación", placeHolder: "", columnDataName: "CreationDate")
                            
                            <!-- Modals trigger buttons -->
                            <div class="">
                                <div class="single-input">
                                    <div class="d-inline-block">
                                        <button type="button" class="ho-button ho-button-dark" data-toggle="modal" data-target="#mapModal">
                                            <span>
                                                Seleccionar ubicación bodega
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            @* Buttons *@
                            <div class="col-12">
                                <div class="d-flex align-self-center">
                                    <div class="">
                                        @Html.CtrlButton(viewName: "Crud", id: "btnCancel", style: "ho-button ho-button-dark", label: "Atrás", onClickFunction: "Back")
                                    </div>
                                    <div class="">
                                        @Html.CtrlButton(viewName: "Crud", id: "btnCreate", style: "ho-button", label: "Crear tienda", onClickFunction: "Validate")
                                    </div>
                                    <div id="alertMessage" class="alertMessage d-none">
                                        <p class="">Por favor verificá los campos en rojo.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Map modal -->
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="Coordinates selector" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Marcar ubicación exacta de envío</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div id="mapSelector"></div>
                    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQSrrB_vyRukFOkul1HqvmyJ0GpPE1Agk&callback=initMap"></script>
                </div>
            </div>
            <div class="modal-footer d-inline-block">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btnChooseCoordinates" class="btn btn-info" data-dismiss="modal">Elegir ubicación</button>
                <small id="lblChosenCoordinates"></small>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Views/cloudinaryStore.js"></script>