@using WebUI.Models.Helpers

<script src="~/Scripts/Views/CrudProductProvider.js"></script>
@{
    ViewBag.Title = "ProductProviderList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.RenderPartial("_MenuStore");
}


<label id="whoAmI" class="d-none">list</label>

<!-- Breadcrumb Area -->
<div class="breadcrumb-area bg-grey">
    <div class="container">
        <div class="ho-breadcrumb">
            <ul>
                <li>@Html.ActionLink("Inicio", "index")</li>
                <li>Listar proveedores</li>
            </ul>
        </div>
    </div>
</div>

<div id="wrapper" class="container wrapper">
    <div class="row">
        <div class="col-12 my-account-area ptb-30">
            <h2>Proveedores registrados</h2>
            <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                @Html.CtrlTable(viewName: "Crud", id: "tblProductProvider", title: "Proveedores",
                    columnsTitle: "ID del proveedor,Id de la tienda,Nombre, Identificador,Direccion,Tipo de proveedor,Telefono,Correo electronico", ColumnsDataName: "ProductProviderId,StoreId,Name,ProviderId,Address,ProviderType,Phone,Email", onSelectFunction: "BindFields")
            </div>
        </div>
    </div>
</div>

<!-- Update modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="Update" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Modificar tienda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 my-account-area ptb-30">
                    <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                        <div class="">
                            <form action="#" class="ho-form" id="">
                                <div id="frmProductProvider" class="ho-form-inner">

                                    <div class="text-center col-md-3 col-sm-12">
                                        <h5 id="suspend" class="badge-pill badge-danger">SUSPENDIDA</h5>
                                    </div>

                                    @* Hidden *@
                                    @*ProductProviderId*@
                                    @Html.CtrlInput(divSize: "single-input single-input-half", id: "txtProductProviderId", type: "type=\"text\" disabled", format: "", label: "ID del proveedor", placeHolder: "", columnDataName: "ProductProviderId")
                                    @*StoreId*@
                                    @Html.CtrlInput(divSize: "single-input single-input-half", id: "txtStoreId", type: "type=\"text\" disabled", format: "", label: "Id de la tienda", placeHolder: "", columnDataName: "StoreId")
                                    @*Name*@
                                    @Html.CtrlInput(divSize: "single-input single-input-half", id: "txtName", type: "type=\"text\" disabled", format: "", label: "Nombre", placeHolder: "", columnDataName: "Name")
                                    @*ProviderId*@
                                    @Html.CtrlInput(divSize: "single-input", id: "txtId", type: "type=\"number\" disabled", format: "", label: "ID", placeHolder: "", columnDataName: "ProviderId")
                                    @*Address*@
                                    @Html.CtrlInput(divSize: "single-input", id: "txtLocation", type: "type=\"text\" disabled", format: "", label: "Direccion", placeHolder: "", columnDataName: "Address")
                                    @*ProviderType*@
                                    @Html.CtrlDropDown2(id: "drpProviderType", label: "Tipo de Proveedor", listId: "provider", style: "single-input single-input-half", columnDataName: "ProviderType")
                                    @* Phone *@
                                    @Html.CtrlInput(divSize: "single-input", id: "txtPhone", type: "type=\"text\" disabled", format: "", label: "Telefono", placeHolder: "", columnDataName: "Phone")
                                    @* Email *@
                                    @Html.CtrlInput(divSize: "single-input", id: "txtEmail", type: "type=\"Email\" disabled", format: "", label: "Email", placeHolder: "", columnDataName: "Email")

                                    <div class="d-flex flex-row">
                                        <div>
                                            @Html.CtrlButton(viewName: "Crud", id: "btnCancel", style: "ho-button-dark", label: "Cancelar", onClickFunction: "Back")
                                        </div> <!--\" data-dismiss=\"modal\""-->
                                        <div>
                                            @Html.CtrlButton(viewName: "Crud", id: "btnDelete", style: "ho-button", label: "Eliminar", onClickFunction: "Delete")
                                        </div>
                                        <div>
                                            @Html.CtrlButton(viewName: "Crud", id: "btnSuspend", style: "ho-button", label: "Suspender", onClickFunction: "Suspend")
                                        </div>
                                        @*<div>
                                            @Html.CtrlButton(viewName: "Crud", id: "btnUpdate", style: "ho-button ", label: "Modificar tienda", onClickFunction: "Update")
                                        </div>*@
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

